<html>
	<head>
		<title>
			Buy
		</title>
		<link href="style_Buy_Now.css" rel="stylesheet">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">
	</head>
	<body>
		<div class="navbar">
			<div class="navbar-left">
				<img src="" alt="logo">
				<span>
					Eco link
				</span>
			</div>
			<div class="profile">
				<span>
					Hi User_5567!
					<br>
					<a href="">My Profile</a>
				</span>
				<img class="profile" src="" alt="profile">
			</div>
		</div>
		<div class="container">
			<div class="pageHeading">
				<img src="" alt="arrow">
				<h3>Buy Now</h3>
			</div>
			<div class="row">
				<div class="box col-3">
					hello
				</div>
				<div class="box col-3">
					hello
				</div>
				<div class="box col-3">
					hello
				</div>
				<div class="box col-3">
					hello
				</div>
				<div class="box col-3">
					hello
				</div>
				<div class="box col-3">
					hello
				</div>
			</div>
		</div>
	</body>
</html>